<div class="topBar">
  <div class="content">
    <a href="/"><div class="logo"></div></a>
    <nav class="menu">
      <label for="menu-check" >
        <div class="menu-icon">
          <span class="menu-icon-line" ></span><br>
          <span class="menu-icon-line" ></span><br>
          <span class="menu-icon-line" ></span>
        </div>
      </label>
      <input type="checkbox" id="menu-check">
      <ul>
        <li>Matérias</li>
        <li>Tutoriais</li>
        <li>Redes Sociais</li>
        <li>Sobre</li>
      </ul>
    </nav>
  </div>
</div>