<footer class="footer">
	<div class="footer_header">
		<div>
			<div><span>Mathers - 2016 | Todos os direitos reservados</span></div>
			<div class="social_network">
				<span class="_fb" ></span>
				<span class="_gplus" ></span>
				<span class="_twt" ></span>
			</div>
		</div>
	</div>
	<div class="footer_mainContent">
		<nav>
		  <h1>Mapa Geral</h1>
		  <li ng-repeat="icon in icons"><span ng-style="{'background-image': 'url(\'../Images/icons/'+icon.src+'\')'}" ></span><a href="{{icon.href}}">{{icon.name}}</a></li>
		</nav>
		<nav>
		  <h1>Mapa Geral</h1>
		  <li ng-repeat="icon in icons"><span ng-style="{'background-image': 'url(\'../Images/icons/'+icon.src+'\')'}" ></span><a href="{{icon.href}}">{{icon.name}}</a></li>
		</nav>
	</div>
</footer>