<!doctype html>
<html lang="pt-br" ng-app="mathsolve" ng-controller="mathsolveCtrl">
<head>
  <meta charset="utf-8" />
  <title>Dashboard - MathSolve</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="Images/favicos/{{fill.title | lowercase}}.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="matemática, online, math, matriz, matrizes, matrix, matrices, mathematic, resolver, calculadora, calc online, determinante, determinant, traço, trace, matriz inversa, matriz transposta, transposed matrix, solve matrix online, resolver matriz online, mathsolve, samir braga, calcular, calcular matriz">   
  <meta name="description" content="Resolva matrizes online com o MathSolve, calcule determinante, execute operações de soma, subtração, multplicação e matriz inversa, com um sistema simples, de fácil manusemaneto, um tutorial e com demonstração de regras! Tudo gratuito!">
  <meta name="abstract" content="Sistema de solução de matriz online, para facilitar sua vida.">
  <meta name="author" content="Samir Braga">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <script type="text/javascript" src="libraries/jquery.min.js"></script>
  <script type="text/javascript" src="libraries/jquery-ui.min.js"></script>
  <script type="text/javascript" src="libraries/angular.min.js"></script>
  <script type="text/javascript" src="libraries/angular-route.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/directives/replaceInclude.js"></script>
  <script type="text/javascript" src="scripts/filters/bind-html.js"></script>
  <script type="text/javascript" src="scripts/controllers/generalCtrl.js"></script>
  <script type="text/javascript" src="scripts/inner-scripts/layout-responsive.js"></script>
  <script type="text/javascript" src="scripts/inner-scripts/general.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/general_style.css">
  <link rel="stylesheet" type="text/css" href="styles/dashboard_style.css">
 <script type="text/javascript">
  $(document).ready(function(){
    $('.pageIntro').mouseenter(function(){
      $(this).css('background-image', "url('Images/gifs-presentation/"+$(this).data('gif-name')+"')")
    })
    $('.pageIntro').mouseleave(function(){
      $(this).css('background-image', "url('Images/gifs-presentation/"+$(this).data('gif-name').substring(0, $(this).data('gif-name').length-4)+"Static.jpg')")
    })
    $('.likePage').click(function(){
      clearInterval(pass);
      var xpos = 0;
      var self = $(this);
      var count = 0;
      var pass = setInterval(function(){
        if(count < 9){
          self.children('.likePage-button').css('background-position', -xpos + "px 0");
          xpos+=26.576;
        }else{
          clearInterval(pass);
        }
        ++count;
      }, 50)
    })
  })
  </script> 
</head>
<body>
  <div class="welcome" >
    <div class="welcome-content border-bottom-bg">
      <div class="title">
        <h1><span>Seja bem vindo!</span> <br>  
          <div class="title-line1"></div>
          <div class="title-line2"></div>
        </h1>
      </div>
      <h2>É a primeira vez que nos visita?</h2>
      <div class="welcome-options">
        <button class="tutorial">Ver um rápido tutorial</button>
        <button class="skip">Já estou habituado</button>
      </div>
      <hr>
      <p>Está perdido? Veja um <a href='#'>mapa completo das nossas ferramentas</a> e sinta-se a vontade para explorá-las.</p>
    </div>
  </div>
  <div ng-include="'views/default_topbar.html'" include-replace></div>
  <div class="pageContent">
    <h1>Assuntos do Mathers</h1>
    <div class="pageIntro shadow" ng-repeat="page in icons" ng-style="{'background-image': 'url(\'Images/gifs-presentation/matrixStatic.jpg\')'}" data-gif-name="matrix.gif" >
      <div class="blend" >
        <div class="likePage" >
          <span>{{page.likeCount}}</span>
          <span class="likePage-button" ></span>
        </div>
      </div>
      <a href="{{page.href}}">
        <div class="page-footer">
          <div>
            <img ng-src="Images/icons/{{page.src}}">
            <span>{{page.name}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="adsense"></div>
  <div ng-include="'views/footer.html'" include-replace></div>
</body>
</html>