<!doctype html>
<html lang="pt-br" ng-app="mathsolve">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="matemática, online, math, matriz, matrizes, matrix, matrices, mathematic, resolver, calculadora, calc online, determinante, determinant, traço, trace, matriz inversa, matriz transposta, transposed matrix, solve matrix online, resolver matriz online, mathsolve, samir braga, calcular, calcular matriz">   
  <meta name="description" content="Resolva matrizes online com o MathSolve, calcule determinante, execute operações de soma, subtração, multplicação e matriz inversa, com um sistema simples, de fácil manusemaneto, um tutorial e com demonstração de regras! Tudo gratuito!">
  <meta name="abstract" content="Sistema de solução de matriz online, para facilitar sua vida.">
  <meta name="author" content="Samir Braga">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <script type="text/javascript" src="libraries/jquery.min.js"></script>
  <script type="text/javascript" src="libraries/jquery-ui.min.js"></script>
  <script type="text/javascript" src="libraries/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/directives/replaceInclude.js"></script>
  <script type="text/javascript" src="scripts/filters/bind-html.js"></script>
  <script type="text/javascript" src="scripts/controllers/matrixCtrl.js"></script>
  <title>Matriz - MathSolve</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body ng-controller="mathsolveCtrl">
  <div class="welcome" >
    <div class="welcome-content border-bottom-bg">
      <div class="title">
        <h1><span>Seja bem vindo!</span> <br>  
          <div class="title-line1"></div>
          <div class="title-line2"></div>
        </h1>
      </div>
      <h2>É a primeira vez que nos visita?</h2>
      <div class="welcome-options">
        <button class="tutorial">Ver um rápido tutorial</button>
        <button class="skip">Já estou habituado</button>
      </div>
      <hr>
      <p>Está perdido? Veja um <a href='#'>mapa completo das nossas ferramentas</a> e sinta-se a vontade para explorá-las.</p>
    </div>
  </div>
  <div class="topBar">
    <div class="content">
      <a href="/"><div class="logo"></div></a>
      <nav class="menu">
        <ul>
          <li>Matérias</li>
          <li>Tutoriais</li>
          <li>Redes Sociais</li>
          <li>Sobre</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="pageContent">
    <div class="title">
      <h1><span>{{fill.title}}</span> <br>  
        <div class="title-line1"></div>
        <div class="title-line2"></div>
      </h1>
    </div>
    <div class="adsense"></div>
    <br>
    <div class="description">
      <ul>
        <li ng-repeat="instruction in fill.instructions" ng-bind-html="instruction.text | unsafe">
        </li>
      </ul>
    </div>
    <div ng-include="fill.includeSrc" onload="'fill.loadScriptToDOM()'" include-replace></div>
    <div class="solve">
      <input type="button" value="CALCULAR">
    </div>
    <div class="result">
      <div class="equation"></div>
      <div class="resultMatrix"></div>
    </div>
    <hr style="height: 2px; background: #3c948b; width: 90%;  margin: 50px auto 0 auto">
  </div>
  <div class="adsense"></div>
  <footer class="footer">
    <br>
    <br>
    <div class="adsense"></div>
  </footer>
</body>
</html>