<!doctype html>
<html lang="pt-br" ng-app="mathsolve">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="Images/favicos/welcome.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="matemática, online, math, matriz, matrizes, matrix, matrices, mathematic, resolver, calculadora, calc online, determinante, determinant, traço, trace, matriz inversa, matriz transposta, transposed matrix, solve matrix online, resolver matriz online, mathsolve, samir braga, calcular, calcular matriz">   
  <meta name="description" content="Resolva matrizes online com o MathSolve, calcule determinante, execute operações de soma, subtração, multplicação e matriz inversa, com um sistema simples, de fácil manusemaneto, um tutorial e com demonstração de regras! Tudo gratuito!">
  <meta name="abstract" content="Sistema de solução de matriz online, para facilitar sua vida.">
  <meta name="author" content="Samir Braga">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <title>MathSolve</title>
  <script type="text/javascript" src="libraries/jquery.min.js"></script>
  <script type="text/javascript" src="libraries/jquery-ui.min.js"></script>
  <script type="text/javascript" src="libraries/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/directives/replaceInclude.js"></script>
  <script type="text/javascript" src="scripts/controllers/generalCtrl.js"></script>
  <script type="text/javascript" src="scripts/filters/bind-html.js"></script>
  <script type="text/javascript" src="scripts/inner-scripts/welcome/script.js"></script>
  <script type="text/javascript" src="scripts/inner-scripts/general.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/welcome_style.css">
  <link rel="stylesheet" type="text/css" href="../styles/general_style.css">
</head>
<body ng-controller="mathsolveCtrl">
  <div ng-include="'views/default_topbar.html'" include-replace></div>
  <div class="pageContent">
    <div class="pages page1 center">
      <header class="invite"> 
        <h1>Seja Bem-vindo ao <br><span>Mathers</span></h1>
        <h2>Que tal conhecer todas as nossas ferrametas?<br>Gratuitamente...</h2>
        <button class="">COMEÇAR A EXPLORAR</button>
      </header>
      <br>
      <hr class="bottom">
      <div align="center" class="scroll-button next center ">
        <div>
          <span class="arrow"></span>
        </div>
      </div>
    </div>
    <div class="pages page2 ">
      <article class="shadow center-vetically">
        <div class="icons-box">
          <a href="{{icon.href}}" data-title="{{icon.name}}" class="icons" ng-repeat="icon in icons" ng-if="$index <= 3">
            <div ng-style="{'background-image': 'url(\'Images/icons/'+icon.src+'\')', 'background-color': icon.color}" ></div>
          </a>
          <br>
          <a href="{{icon.href}}" data-title="{{icon.name}}" class="icons" ng-repeat="icon in icons" ng-if="$index > 3 && $index <= 6">
            <div ng-style="{'background-image': 'url(\'Images/icons/'+icon.src+'\')', 'background-color': icon.color}" ></div>
          </a>
          <br>
          <a href="{{icon.href}}" data-title="{{icon.name}}" class="icons" ng-repeat="icon in icons" ng-if="$index > 6">
            <div ng-style="{'background-image': 'url(\'Images/icons/'+icon.src+'\')', 'background-color': icon.color}" ></div>
          </a>
        </div>
        <div class="text-box">
          <div class="title" >
            <h1><span>Tudo em poucos cliques</span> <br>  
              <div class="title-line1"></div>
              <div class="title-line2"></div>
            </h1>
          </div>
          <br>
          <p>
            Cada uma de nossas ferramentas foi pensada em otimizar sua utilização presando pelo precioso tempo de nossos usuários. 
            <br>
            Além disso, dispomos de rápidos tutoriais para sanar qualquer dúvida que apareça durante o manuseamento.
          </p>
        </div>
      </article>
    </div>
    <div class="pages page3 ">
      <article class="shadow center-vetically">
        <div class="img-box" data-img-target="/matriz" data-img-title="Matriz">
          <img alt="Calculando determinante." src="Images/welcome/gif1.gif">
        </div>
        <div class="text-box">
          <div class="title">
            <h1><span>Tudo em poucos cliques</span> <br>  
              <div class="title-line1"></div>
              <div class="title-line2"></div>
            </h1>
          </div>
          <br>
          <p>
            Cada uma de nossas ferramentas foi pensada em otimizar sua utilização presando pelo precioso tempo de nossos usuários. 
            <br>
            Além disso, dispomos de rápidos tutoriais para sanar qualquer dúvida que apareça durante o manuseamento.
          </p>
        </div>
      </article>
    </div>
    <div class="pages page4 ">
      <article class="shadow center-vetically">
        <div class="img-box" data-img-target="/matriz" data-img-title="Matriz">
          <img alt="Calculando determinante." src="Images/welcome/gif1.gif">
        </div>
        <div class="text-box">
          <div class="title">
            <h1><span>Tudo em poucos cliques</span> <br>  
              <div class="title-line1"></div>
              <div class="title-line2"></div>
            </h1>
          </div>
          <br>
          <p>
            Cada uma de nossas ferramentas foi pensada em otimizar sua utilização presando pelo precioso tempo de nossos usuários. 
            <br>
            Além disso, dispomos de rápidos tutoriais para sanar qualquer dúvida que apareça durante o manuseamento.
          </p>
        </div>
      </article>
    </div>
  </div>
  <div class="adsense"></div>
  <div ng-include="'views/footer.html'" include-replace></div>
</body>
</html>