<!doctype html>
<html lang="pt-br" ng-app="mathsolve">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="matemática, online, math, matriz, matrizes, matrix, matrices, mathematic, resolver, calculadora, calc online, determinante, determinant, traço, trace, matriz inversa, matriz transposta, transposed matrix, solve matrix online, resolver matriz online, mathsolve, samir braga, calcular, calcular matriz">   
  <meta name="description" content="Resolva matrizes online com o MathSolve, calcule determinante, execute operações de soma, subtração, multplicação e matriz inversa, com um sistema simples, de fácil manusemaneto, um tutorial e com demonstração de regras! Tudo gratuito!">
  <meta name="abstract" content="Sistema de solução de matriz online, para facilitar sua vida.">
  <meta name="author" content="Samir Braga">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <title>MathSolve</title>
  <script type="text/javascript" src="libraries/jquery.min.js"></script>
  <script type="text/javascript" src="libraries/jquery-ui.min.js"></script>
  <script type="text/javascript" src="libraries/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/directives/replaceInclude.js"></script>
  <script type="text/javascript" src="scripts/controllers/welcomeCtrl.js"></script>
  <script type="text/javascript" src="scripts/filters/bind-html.js"></script>
  <script type="text/javascript" src="scripts/inner-scripts/welcome/script.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/welcome_style.css">
</head>
<body ng-controller="mathsolveCtrl">
  <div class="topBar">
    <div class="striped-bar"></div>
    <div class="content">
      <a href="/"><div class="logo"></div></a>
      <nav class="menu">
        <ul>
          <li>Matérias</li>
          <li>Tutoriais</li>
          <li>Redes Sociais</li>
          <li>Sobre</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="pageContent">
    <div class="pages page1 center">
      <header class="invite"> 
        <h1>Seja Bem-vindo ao <br><span>Mathers</span></h1>
        <h2>Que tal conhecer todas as nossas ferrametas?<br>Gratuitamente...</h2>
        <button class="">COMEÇAR A EXPLORAR</button>
      </header>
      <br>
      <hr class="bottom">
      <div align="center" class="scroll-button next center ">
        <div>
          <span class="arrow"></span>
        </div>
      </div>
    </div>
    <div class="pages page2 center-vetically">
      <hr class="top">
      <article class="shadow center-vetically">
        <div class="img-box" data-img-target="/matriz" data-img-title="Matriz">
          <img alt="Calculando determinante." src="Images/welcome/gif1.gif">
        </div>
        <div class="text-box">
          <div class="title">
            <h1><span>Tudo em poucos cliques</span> <br>  
              <div class="title-line1"></div>
              <div class="title-line2"></div>
            </h1>
          </div>
          <br>
          <p>
            Cada uma de nossas ferramentas foi pensada em otimizar sua utilização presando pelo precioso tempo de nossos usuários. 
            <br>
            Além disso, dispomos de rápidos tutoriais para sanar qualquer dúvida que apareça durante o manuseamento.
          </p>
        </div>
      </article>
      <hr class="bottom">
    </div>
    <div class="pages page3 center-vetically">
      <hr class="top">
      <article class="shadow center-vetically">
        <div class="img-box" data-img-target="/matriz" data-img-title="Matriz">
          <img alt="Calculando determinante." src="Images/welcome/gif1.gif">
        </div>
        <div class="text-box">
          <div class="title">
            <h1><span>Tudo em poucos cliques</span> <br>  
              <div class="title-line1"></div>
              <div class="title-line2"></div>
            </h1>
          </div>
          <br>
          <p>
            Cada uma de nossas ferramentas foi pensada em otimizar sua utilização presando pelo precioso tempo de nossos usuários. 
            <br>
            Além disso, dispomos de rápidos tutoriais para sanar qualquer dúvida que apareça durante o manuseamento.
          </p>
        </div>
      </article>
      <hr class="bottom">
    </div>
    <div class="pages page4 center-vetically">
      <hr class="top">
      <article class="shadow center-vetically">
        <div class="img-box" data-img-target="/matriz" data-img-title="Matriz">
          <img alt="Calculando determinante." src="Images/welcome/gif1.gif">
        </div>
        <div class="text-box">
          <div class="title">
            <h1><span>Tudo em poucos cliques</span> <br>  
              <div class="title-line1"></div>
              <div class="title-line2"></div>
            </h1>
          </div>
          <br>
          <p>
            Cada uma de nossas ferramentas foi pensada em otimizar sua utilização presando pelo precioso tempo de nossos usuários. 
            <br>
            Além disso, dispomos de rápidos tutoriais para sanar qualquer dúvida que apareça durante o manuseamento.
          </p>
        </div>
      </article>
      <hr class="bottom">
    </div>
  </div>
  <div class="adsense"></div>
  <footer class="footer">
    <div class="adsense"></div>
  </footer>
</body>
</html>