<link rel="stylesheet" type="text/css" href="../styles/logarithm_style.css">
<script type="text/javascript" src="../scripts/inner-scripts/matrix/script.js"></script>
<script type="text/javascript" src="../scripts/inner-scripts/matrix/script_tutorial.js"></script>
<div id="calc" class="logarithms" ng-init="fill.loadScriptToDOM()">
  <div class="logarithms-align">
    <div class="logarithm">
      Log
    </div>
    <br>
    <a href="logaritmo/download" style="font-size: 90pt" >Download</a>
  </div>
  <div class="logarithm-options">
    <button data-title="Inverter matrizes" data-title-position="left" class="invertMatricesOrder defaultButton">⇋</button>
  </div>
</div>
