<div class="matrices" ng-init="fill.loadScriptToDOM()">
  <div class="matrices-align">
    <div class="matrix">
      <div class="row row1">
        <input type="text" class="cell">
      </div>
    </div>
    <select class="operator">
      <option value="sum">+</option>
      <option value="minus">-</option>
      <option value="multiply">x</option>
    </select>
    <div class="matrix">
      <div class="row row1">
        <input type="text" class="cell">
      </div>
    </div>
  </div>
  <br>
  <div class="matrices-options">
    <button class="invertMatricesOrder">⇋</button>
  </div>
</div>
